
/* Your CSS Code here. */
.holder{
	display:grid;
	grid-template-columns: repeat(2,200px);
	grid-template-rows: repeat(2,200px);
	gap:3px;
}
.box{
	background:red;
	display:flex;
	justify-content:center;
	align-items:center
}